body {
    background-color: hsl(0, 0%, 94%);
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 15px;
  }
  
  .container {
    width: 330px;
    padding: 40px;
    border-radius: 30px 30px 90px 30px;
    background-color: hsl(0, 0%, 100%);
    margin-top: 90px;
  }
  
  .container .date-input {
    display: flex;
    justify-content: space-between;
  }
  
  .container .date-input input {
    width: 60px;
    padding: 10px;
    border-radius: 7px;
    font-weight: 700;
    font-size: 14px;
  }
  
  .container .date-input .date-name {
    font-family: 'Poppins';
    font-weight: 700;
  }
  .container .date-input div{
    margin-right: 7px;
  }
  
  .arrow {
    width: 60px;
    height: 60px;
    padding: 2px;
    border-radius: 40px;
    background-color: hsl(259, 100%, 65%);
    display: flex;
    justify-items: center;
    align-items: center;
    position: absolute;
    top: -32px;
  }
  
  .container .divider {
    margin-top: 65px;
    margin-bottom: 60px;
    position: relative;
  }
  
  .divider .arrow img {
    width: 70px;
    height: 30px;
  }
  
  .container .display p {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 50px;
    margin: 0;
    font-style: italic;
  }
  
  .container .display p span {
    color: hsl(259, 100%, 65%);
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    display: none;
  }
  
  /* Center the arrow on small screens */
  @media screen and (max-width: 480px) {
    .arrow {
      left: 50%;
      transform: translateX(-50%);
    }
    .container {
        margin-top: 5px;
        
      }
  }
  
  
  /* Position the arrow on the right side for larger screens */
  @media screen and (min-width: 480px) {
    .container {
      width: 420px;
      margin-top: 10px;
      padding-right: 120px;
    }
  
    .container .date-input {
      padding-right: 50px;
    }
  
    .arrow {
      left: 100%;
      transform: translateX(0); /* Remove centering translation for larger screens */
    }
  }
  